body, html {
    height: 100%;
}

#navBar {
    color: #78b0a0;
    background-color: #f8d0b0;
    width: 100%;
    z-index: 99;
    border-radius: 10px;
}

.uk-navbar-container {
    height: 80px;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
}

.thatMeContainer, .thatMeContainer h1 {
    text-align: center;
    margin: 50px;
    font-family: 'Playfair Display', serif;
}
.myImg {
    height: 300px;
    width: auto;
    border-radius: 50px;
}

.uk-panel {
    margin: 20px;
    border: 1px solid #78b0a0;
    border-radius: 10px;
}

.hero-image {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("IMG-01912.jpg"); */
  background-image: url("IMG-01912.jpg");
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}