/* Scrollbar changes from W3*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
    /* opacity: 0; */
}

::-webkit-scrollbar-thumb {
    background: #78b0a0;
}

::-webkit-scrollbar-thumb:hover {
    background: #587850;
}

body, html {
    height: 100%;
}

.hero-image {
    background-image: url("IMG-01912.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#navBar {
    background-color: #f8d0b0;
    width: 100%;
    z-index: 99;
    border-radius: 10px;
}

.uk-navbar-container, .uk-navbar-container li a {
    height: 80px;
    color: #587850;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width:100%;
}

.heroContainer{
    text-align: center;
    margin: 100px 0px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heroContainer h1 {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 50px;
    font-weight: bold;
    color: #587850;
}

.myImg {
    height: 300px;
    width: auto;
    border-radius: 50px;
}

.aboutContainer, .projectsContainer{
    background-color: #78b0a0;
    color: white;
    margin: 20px 0px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.projectsContainer{
    background-color: white;
}

.aboutContainer h1, .aboutContainer h4 {
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.uk-grid-match img {
    margin-top: 30px;
}

.uk-panel img {
    border-radius: 30px;
    border: 1px solid #78b0a0;
}

.mountaineer {
    background-color: black;
    /* border-radius: 30px; */
}

.footer {
    height: 25%;
    background-color: #587850;
    color: #f8d0b0;
    text-align: center;
    margin-top: 100px;
    padding: 80px;
}

.fab {
    color: #f8d0b0;
    margin: 10px;
}
