/* Scrollbar changes*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #24b273;
}

::-webkit-scrollbar-thumb:hover {
    background: #243d44;
}

body, html {
    height: 100%;
}

.hero-image {
    background-image: url("./Images/TreeHero.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#navBar {
    background-color: #24b273;
    width: 100%;
    z-index: 99;
    border-radius: 10px;
}

.uk-navbar-container, .uk-navbar-container li a {
    height: 80px;
    color: #243d44;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Make the navbar stick to top */
.sticky {
    position: fixed;
    top: 0;
    width:100%;
}

.heroContainer{
    text-align: center;
    margin: 150px 0px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heroContainer h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 70px;
    font-weight: bold;
    color: #243d44;
}

.myImg {
    height: 300px;
    width: auto;
    border-radius: 50px;
}

.aboutContainer, .projectsContainer{
    margin: 200px 0px;
    text-align: center;
}

.aboutContainer {
    padding: 80px 50px;
    background-color: #167a8b;
    color: white;
}

.smallerCon h4 {
    padding: 10px 50px;
}

.linkInText {
    color: #243d44;
}

.linkInText:hover {
    color: #243d44;
}

.projectsContainer{
    background-color: #167a8b;
    padding: 80px;
}

.aboutContainer h1, .aboutContainer h4 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}

.projectsContainer h1, .projectsContainer h3 {
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.uk-grid-match img {
    margin-top: 30px;
}

.panel img {
    border-radius: 30px;
    border: 1px solid #167a8b;
}

.uk-overlay {
    display: none;
}

.panel img:hover + .uk-overlay{
    display: block;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.uk-overlay:hover{
    display: block;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.uk-overlay p {
    color: #24b273;
}

.footer {
    height: 30%;
    background-color: #243d44;
    color: #f8d0b0;
    text-align: center;
    margin-top: 175px;
    padding: 60px 0px;
}

.footer h3 {
    color: #f8d0b0;
}

.fab, .fas {
    color: #f8d0b0;
    margin: 10px 30px;
}

.fa-dice-d20 {
    color: #24b273
}